



/*------------------------------------*\
$MIXINS
\*------------------------------------*/


@mixin vendor($property, $value...){
   -webkit-#{$property}:$value;
      -moz-#{$property}:$value;
       -ms-#{$property}:$value;
        -o-#{$property}:$value;
           #{$property}:$value;
}




@mixin gradient_horizontal($startColor, $midColor, $endColor) {
	background-color: $endColor;
	background-image  : -webkit-linear-gradient(left, $startColor, $midColor, $endColor);                   // Safari 5.1+, Chrome 10+
	background-image  : -moz-linear-gradient(left, $startColor, $midColor, $endColor);                      // FF 3.6+
	background-image  : -ms-linear-gradient(left, $startColor, $midColor, $endColor);                       // IE10
	background-image  : -o-linear-gradient(left, $startColor, $midColor, $endColor);                        // Opera 11.10
	background-image  : linear-gradient(left, $startColor, $midColor, $endColor);                           // W3C
	background-repeat : repeat-x;
}
